*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(211, 211, 211, 0.24);
  font-family: Arial, Helvetica, sans-serif;
}
/*HEADER*/
header div{
  background-color: white;
  font-size:40px;
  text-align: left;
}

header div img{
  vertical-align: middle;
}
/*HEADER*/



/*MAIN*/
main{
  text-align: justify;
  padding-left: 40px;
}


main nav ul li{
  display: inline-block;
}
nav{
  border-bottom: 2px;
  border-bottom: solid;
  border-color: rgba(128, 128, 128, 0.253);
}


ul {
  padding-bottom: 10px;
}

h2{
  padding-top: 30px;
  padding-bottom: 5px;
}

li{
  list-style: none;
  padding-bottom: 15px;
}

.container{
  width: 90%;
  max-width: 1080px;
  background-color:white;
  border-radius: 5px;
  margin:0 auto;
  padding-top: 0;
}


.cerchio-azzurro{
  background-color: rgb(28, 171, 228);
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  color: white;
}

.cerchio-trasparente{
  background-color: rgba(227, 231, 233, 0.185);
  border-radius: 10px;
  border: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.205);
  padding: 5px;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.308);
}

.cerchio-viola{
  background-color: rgb(189, 93, 226);
  border-radius: 10px;
  padding: 5px;
  font-size:12px;
  color: white;
}


.cerchio-verde{
  background-color: rgb(117, 192, 157);
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  color: white;
}


.cerchio-senape{
  background-color: rgb(156, 168, 47);
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  color: white;
}


.cerchio-rosa{
  background-color: rgb(221, 131, 187);
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  color: white;
}

.cerchio-arancio{
  background-color: rgb(228, 146, 24);
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  color: white;
}

.checkmark{
  color: greenyellow;
  background-color: white;
  border: solid;
  border-radius: 5px;
  border-color: greenyellow;
}
/*MAIN*/


